html, body, #root {
    width: 100%;
    height: 100%;
    background-color: black;
}
#App {
    font-family: sans-serif;
    text-align: center;
}

#AppContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Title {
    font-size: 25px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    margin-bottom: 1em;
    padding: 1em;
    background-color:#4c3cdf;
    -webkit-box-shadow: 2px 2px 2px 0px #8374FF; 
    box-shadow: 2px 2px 2px 0px #8374FF;
}

#EditorContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

#Container {
    width: 50%;
    height: 100%;
    padding: 13px;
    border-right: 1.5px solid rgba(15, 15, 15, 0.4);
    font-family: 'Lato', sans-serif;
}

#editor {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    font-size: 17px;
    color: white;
    background-color: gray;
    border-style:solid;
    border-color:#4c3cdf;
    -webkit-box-shadow: 2px 2px 2px 0px #8374FF; 
    box-shadow: 2px 2px 2px 2px #8374FF;
}

#preview {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    color: white;
    background-color: gray;
    border-style:solid;
    border-color:#4c3cdf;
    -webkit-box-shadow: 2px 2px 2px 0px #8374FF; 
    box-shadow: 2px 2px 2px 0px #8374FF;
}